{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <style>
        .contentapp2{
            max-width: 500;
            background-color: gold;
            margin: auto;
            text-align:center;
        }
        .confirm{
            text-align: center;
            background: grey;
            display: none;
            position: fixed;
            height:100%;
            top:0;
            width:100%;
            z-index:10000;
        }
        .confirm .inner{
            display:inline-block;
            height:100%;
            vertical-align:middle;
        }
        .confirm > div{
            background-color: white;
            display: inline-block;
            height: auto;
            max-width: 500px;
            min-height: 100px;
            vertical-align: middle;
            width: 60%;
            position: relative;
            border: 2px solid black;
        }
    </style>
</head>

<body style="background-color: orange;">
    {% include 'base.html' %}
    <div class="container" style="margin-top:50px; border: 3px solid black; background-color: cornsilk; width: 60%;">
        {% if user.is_authenticated %}
        <div class="mt-5 d-flex justify-content-center align-items-center flex-column">
            <h2>Isi Form Donasi</h2>
            <br>
            <h3>Masukkan data diri</h3>
            <hr color="green">
            <form action="{% url 'app2:fp' %}" method="POST" id="formutama">
                {% csrf_token %}
                {{formu.nama_orang|as_crispy_field}}
                {{formu.nomor_hp|as_crispy_field}}
                {{formu.alamat_email|as_crispy_field}}
                <br>
                <h3>Metode pembayaran</h3>
                <hr color="green">
                {{formu.nama_bank|as_crispy_field}}
                <br>
                <h3>Jumlah donasi</h3>
                <hr color="green">
                {{formu.jumlah_donasi|as_crispy_field}}
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        </div>
        {% else %}
        <div class="mt-5 d-flex justify-content-center align-items-center flex-column">
            <div class="container">
                <div class="row">
                    <h2 style="margin-top: 50px; margin-bottom: 50px; margin-left: auto; margin-right: auto;">Silahkan login terlebih dahulu</h2>
                </div>
                <div class="row">
                    <div class="centre-items" style="margin-top: 50px; text-align: center; margin-left: auto;margin-right: auto;margin-bottom: 50px;">
                        <a href="/otentikasi/login/"><button class="btn btn-primary">Login Disini</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="confirm" id="confirm">
        <span class="inner"></span>
        <div class="isi" id="isi">

        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $("#formutama").submit(function(e) {
        e.preventDefault();
        var formutama = $(this);
        var url = formutama.attr('action');

        $.ajax({
            type:"POST",
            url: url,
            data: formutama.serialize(),
            success: function(data){
                $(".confirm").show();
                $('#isi').empty();
                $('#isi').append('<h3 align="center">Pastikan data ini sudah benar</h3>');
                $('#isi').append('<p><b>Nama</b></p>');
                $('#isi').append('<p>'+data.nama_orang+'</p>');
                $('#isi').append('<p><b>Alamat Email</b></p>');
                $('#isi').append('<p>'+data.alamat_email+'</p>');
                $('#isi').append('<p><b>Nomor HP</b></p>');
                $('#isi').append('<p>'+data.nomor_hp+'</p>');
                $('#isi').append('<p><b>Nama Bank</b></p>');
                $('#isi').append('<p>'+data.nama_bank+'</p>');
                $('#isi').append('<p><b>Jumlah Donasi</b></p>');
                $('#isi').append('<p>'+data.jumlah_donasi+'</p>');
                $('#isi').append('<button type="button" class="btn btn-primary"><a style="color:white;" href="{% url "app2:kp" %}">Confirm</a></button>');
                $('#isi').append('<button id="back" onclick=$(".confirm").hide() type="button" class="btn btn-default">Back</button>');
            }
        });                                                                                 
    })
</script>


{% endblock content %}
