{% extends 'base.html' %}
{% load static %}


<html>
    
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>
        Login
    </title>
</head>

<body style="background-color:orange; font-family: Rubik; text-align: center;">
{% include 'base.html' %}

<div class="row justify-content-md-center mt-5">
    <div class="col-sm-5 align-self-center">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mb-4">Login</h5>

                <form method="POST" action=''>
                    {% csrf_token %}
                
                    <p>Username: <input type="text" name="username"></p>
                    <p>Password: <input type="password" name="password"></p>
                
                    <button type="submit" class="btn btn-primary mt-4">Masuk</button>
                
                    {% for message in messages %}
                        {% if message.tags %}
                            <p class="{{ message.tags }}">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>

        <p class="mt-2">Belum punya akun? <a href="/otentikasi/signup">Register sekarang!</a></p>
    </div>
</div>

</body>
{% endblock content %}

</html>
