/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {font-family: Rubik;
}
.foto {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    height:500px;
    border-radius: 246px; 
}
  
.btns {
  background-color: #F59220;
  border: none;
  border-radius: 81px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}
  
.btn:hover {opacity: 1}
  
  
