<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html>
    {% block content %}
    <head>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
          <link rel="stylesheet" href="{% static 'style.css' %}">
          <title>
              List Relawan
          </title>
      </head>
      
      <body style="background-color:orange; font-family: Rubik;">
        {% include 'base.html' %}
        <div class = "container">
            <br>
            <div class="card" style="margin-top: 50px; margin-bottom: 50px;">
              <div class="card-header">
                <h5 class="card-title">{{ relawans.nama }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ relawans.nama_panggilan }}</h6>
              </div>
              <div class="card-body"> 
                <table class = "table table-sm">
                    <tr>
                      <th>No HP</th>
                      <td>: {{ relawans.no_hp }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>: {{ relawans.email }}</td>
                    </tr>
                    <tr>
                        <th>Identitas</th>
                        <td>: {{ relawans.identitas }}</td>
                    </tr>
                    <tr>
                        <th>No Identitas</th>
                        <td>: {{ relawans.no_identitas }}</td>
                    </tr>
                    <tr>
                        <th>Alamat</th>
                        <td>: {{ relawans.alamat }}</td>
                    </tr>
                    <tr>
                        <th>Jenis Kelamin</th>
                        <td>: {{ relawans.jenis_kelamin }}</td>
                    </tr>
                    <tr>
                        <th>Agama</th>
                        <td>: {{ relawans.agama }}</td>
                    </tr>
                    <tr>
                        <th>Status Perkawinan</th>
                        <td>: {{ relawans.status }}</td>
                    </tr>
                    <tr>
                        <th>Pekerjaan</th>
                        <td>: {{ relawans.pekerjaan }}</td>
                    </tr>
                    <tr>
                        <th>Perminatan Cluster</th>
                        <td>: {{ relawans.peminatan }}</td>
                    </tr>
              </div>
          </div>
        </div>
        {% endblock content %}
    </body>
</html>