{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <title>Donasi Barang</title>
  {{ form.media }}
  <style>
    .popup{
    background:rgba(0,0,0,.4);
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
  }
  .popup .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
  }
  .popup > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 14px;
    border: 3px solid orange;
    padding: 15px 5%;
  }
    .container{
      width: 60%;
      border: 3px solid orange;
      background-color: white;
      border-radius: 14px;
    }
  </style>
  </head>

<body style="background-color: green;">
  {% include 'base.html' %}
  <div class="container" style="margin-top: 50px; border: 3px solid orange; background-color: rgba(245, 245, 245, 0.9);">
    {% if user.is_authenticated %}
      <h2 align="center" style="margin-top: 20px;">Isi Form Donasi</h2>
      <form action="{% url 'app3:form_barang' %}" method="post" id="formbarang">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto; margin-bottom: 50px; margin-top: 30px;">Confirm</button>     
      </form>
    {% else %}
      <h2 align="center" style="margin-top: 20px;">Anda belum login, harap login terlebih dahulu</h2>
      <div class="centre-items" style="margin-top: 50px; text-align: center; margin-left: auto;margin-right: auto;margin-bottom: 50px;">
        <a href="/otentikasi/login/"><button class="btn btn-primary">Login Disini</button></a>    
      </div> 
    {% endif %}
  </div>
  <div class="popup" id="popup">
    <span class="helper"></span>
    <div class="res" id="res">
      
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  $("#formbarang").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var url = form.attr('action');

    $.ajax({
          type: "POST",
          url: url,
          data: form.serialize(), // serializes the form's elements.
          success: function(data){
            $(".popup").show();
            $('#res').empty();
            $('#res').append('<h2 align="center">Konfirmasi</h2>');
            $('#res').append('<p><b>Nama donatur</b></p>');
            $('#res').append('<p>'+data.nama_donatur+'</p>');
            $('#res').append('<p><b>No handphone</b></p>');
            $('#res').append('<p>'+data.no_handphone+'</p>');
            $('#res').append('<p><b>Jenis Barang Yang Akan Disumbangkan</b></p>');
            $('#res').append('<p>'+data.barang+'</p>');
            $('#res').append('<p><b>Waktu Penjemputan Barang</b></p>');
            $('#res').append('<p>'+data.date+'</p>');
            $('#res').append('<p><b>Alamat Penjemputan Barang</b></p>');
            $('#res').append('<p>'+data.place+'</p>');
            $('#res').append('<button type="button" class="btn btn-primary" style="display: block; margin: 0 auto;"><a style="text-decoration: none; color: white;" href="{% url "app3:confirm" %}">Confirm</a></button>');
            $('#res').append('<button id="back" onclick=$(".popup").hide()  class="btn btn-default" type="button" style="display: block; margin: 0 auto;">Back</button>');
            
          }
    });
  })
</script>
{% endblock content %}
</html>
