{% load static %}
{% url 'app1:home' as home_url %}
{% url 'app2:fp' as uang_url %}
{% url 'app3:form_barang' as barang_url %}
{% url 'app4:relawan' as relawan_url %}
{% url 'app5:listrelawan' as listrelawan_url %}

<!DOCTYPE html>
<html lang="en">
  {% block content %}
<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

  <!-- Tempus Dominus Bootstrap 4 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  {% endblock meta %}
</head>

<body>
  
 
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black;">
    <a class="navbar-brand" href="#">ACT.ID</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item {%if request.path == home_url %} active {%endif%}">
          <a class="nav-link" href="{{home_url}}">Halaman Utama</a>
        </li>
        <li class="nav-item {%if request.path == uang_url %} active {%endif%}">
          <a class="nav-link" href="{{uang_url}}">Donasi Uang</a>
        </li>
        <li class="nav-item {%if request.path == barang_url %} active {%endif%}">
          <a class="nav-link" href="{{barang_url}}">Donasi Barang</a>
        </li>
        <li class="nav-item {%if request.path == relawan_url %} active {%endif%}">
          <a class="nav-link" href="{{relawan_url}}">Form Relawan</a>
        </li>
        <li class="nav-item  {%if request.path == listrelawan_url %} active {%endif%}">
          <a class="nav-link" href="{{listrelawan_url}}">List Relawan</a>
        </li>
      </ul>

      {% if user.is_authenticated %}
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <span class="navbar-brand mb-0 h1">Halo, {{ user.get_username }}</span>
        </li>
        <li class="nav-item">
          <button class="btn-warning"><a class="h5" href="/otentikasi/logout">Logout</a></button>
        </li>
      </ul>

      {% else %}
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <button class="btn-warning"><a class="h5" href="/otentikasi/login">Login/Register</a></button>
        </li>
      </ul>

      {% endif %}
    </div>
  </nav>
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
{% endblock content %}
</html>
