<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
<html>
  {% block content %} 
    <head>
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>
            Form Pendaftaran Relawan
        </title>
        <style>
          .popup{
          background:rgba(0,0,0,.4);
          display:none;
          height:100%;
          position:fixed;
          text-align:center;
          top:0;
          width:100%;
          z-index:10000;
        }
        .popup .helper{
          display:inline-block;
          height:100%;
          vertical-align:middle;
        }
        .popup > div {
          background-color: #fff;
          box-shadow: 10px 10px 60px #555;
          display: inline-block;
          height: auto;
          max-width: 551px;
          min-height: 100px;
          vertical-align: middle;
          width: 60%;
          position: relative;
          border-radius: 14px;
          border: 3px solid orange;
          padding: 15px 5%;
        }

        </style>
    </head>
    
    <body style="background-color:orange; font-family: Rubik;">
      {% include 'base.html' %}
      {% if user.is_authenticated %}
		  <div class="container">
        <div class="card" style="margin-top: 50px; margin-bottom: 50px; background-color: rgba(245, 245, 245, 0.9);">
          <div class="container">
        <h2 style="text-align: center; margin-top: 50px; margin-bottom: 10px;">Pendaftaran Relawan</h1>
        <h6 style="text-align: center; margin-bottom: 20px;">Silahkan isi dengan biodata anda</h6>
            <div class="row">
                <div class="col-md-12" style="text-align: left;">
                  
                    <form action="{% url 'app4:relawan' %}" method="POST" id="form_relawan">
                        {% csrf_token %}
                        {{ form.nama|as_crispy_field }}
                        {{ form.nama_panggilan|as_crispy_field }}
                        <div class='form-row'>
                          <div class='form-group col-md-6'>
                            {{ form.no_hp|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-6'>
                            {{ form.email|as_crispy_field }}
                          </div>
                        </div>
                        <div class='form-row'>
                          <div class='form-group col-md-6'>
                            {{ form.identitas|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-6'>
                            {{ form.no_identitas|as_crispy_field }}
                          </div>
                        </div>
                        {{ form.alamat|as_crispy_field }}
                        <div class='form-row'>
                          <div class='form-group col-md-4'>
                            {{ form.jenis_kelamin|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-4'>
                            {{ form.kota_kelahiran|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-4'>
                            {{ form.tanggal_lahir|as_crispy_field }}
                          </div>
                        </div>
                        <div class='form-row'>
                          <div class='form-group col-md-4'>
                            {{ form.agama|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-4'>
                            {{ form.status|as_crispy_field }}
                          </div>
                          <div class='form-group col-md-4'>
                            {{ form.pekerjaan|as_crispy_field }}
                          </div>
                        </div>
                        {{ form.peminatan|as_crispy_field }}
                        {{ form.saya_menyetujui_syarat_dan_ketentuan_yang_berlaku|as_crispy_field }}
                        <div class="centre-items" style="margin-top: 50px; text-align: center;">
                            <input type="submit" class="btn btn-primary" name="btn-form" value="Submit Form" style="margin-bottom: 50px;"></input>
                        </div>
                    </form>
                  
                </div>
        </div>
      </div>
      </div>
      {% else %}
      <div class="container">
        <div class="card" style="margin-top: 50px; margin-bottom: 50px;background-color: rgba(245, 245, 245, 0.9);">
          <div class="container">
            <div class="row">
              <h1 style="margin-top: 50px; margin-bottom: 50px; margin-left: auto; margin-right: auto;">Silahkan Login Terlebih Dahulu</h1>  
            </div>
            <div class="row">
              <div class="centre-items" style="margin-top: 50px; text-align: center; margin-left: auto;margin-right: auto;margin-bottom: 50px;">
                  <a href="/otentikasi/login/"><button class="btn btn-primary">Login Disini</button></a>    
                      </div>               
              </div>
      {% endif %}
      </div>
      <div class="popup" id="popup">
        <span class="helper"></span>
        <div class="res" id="res">
          
        </div>
      </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
  $("#form_relawan").submit(function(e) {

    e.preventDefault();

    var form = $(this);
    var url = form.attr('action');

    $.ajax({
          type: "POST",
          url: url,
          data: form.serialize(),
          success: function(data){
            $(".popup").show();
            $('#res').empty();
            $('#res').append('<h2 align="center">Konfirmasi</h2>');
            $('#res').append('<p><b>Nama Relawan</b></p>');
            $('#res').append('<p>'+data.nama+'</p>');
            $('#res').append('<p><b>No handphone</b></p>');
            $('#res').append('<p>'+data.no_hp+'</p>');
            $('#res').append('<p><b>Email</b></p>');
            $('#res').append('<p>'+data.email+'</p>');
            $('#res').append('<p><b>No. Identitas</b></p>');
            $('#res').append('<p>'+data.no_identitas+'</p>');
            $('#res').append('<p><b>Jenis Kelamin</b></p>');
            $('#res').append('<p>'+data.jenis_kelamin+'</p>');
            $('#res').append('<p><b>Tanggal Lahir</b></p>');
            $('#res').append('<p>'+data.tanggal_lahir+'</p>');
            $('#res').append('<p><b>Agama</b></p>');
            $('#res').append('<p>'+data.agama+'</p>');
            $('#res').append('<p><b>Peminatan Cluster</b></p>');
            $('#res').append('<p>'+data.peminatan+'</p>');
            $('#res').append('<button type="button" class="btn btn-primary" style="display: block; margin: 0 auto;"><a style="text-decoration: none; color: white;" href="{% url "app4:confirm" %}">Confirm</a></button>');
            $('#res').append('<button id="back" onclick=$(".popup").hide()  class="btn btn-default" type="button" style="display: block; margin: 0 auto; margin-top: 10px;">Back</button>');
            
          }
    });
  })
</script>
{% endblock content %}
</html>